@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

main{
      background: url('../assets/banner-bg.png');
      background-repeat: no-repeat;
      height: 600px;
}

span {
      
      font-family: 'Rubik';
      color: #fff;
      font-size: 45px;
    
}

.type{
      padding-top: 20%;
      padding-left: 5%;
}

header{
      background-color: #121212;

      .navigation{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
      }

      a {
            text-decoration: none;
            color: #fff;
            font-family: 'Poppins';

            transition: 2s;

            &:hover{
                  font-size: 25px;
                  color: #7F00FF;
            }
      }
}


.b {
      margin-top: 3%;
      padding-left: 5%;
      padding-bottom: 100px;

      /*.arrowDown{
           
      }*/
}

.know {
      height: 56px;
      width: 200px;
      color: #fff;
      margin-top: 32px;
      background: #121212;
      border: #7F00FF solid;
      font-size: 25px;


      border-radius: 30px;

      transition: background-color .5s;

      &:hover{
            color: #fff;
            background-color: #7F00FF;
      }
}


/*#5D3FD3  */

footer{
      background-image: url('../assets/footer-bg.png');
      background-repeat: no-repeat;
      height: 400px;
}
